---
import { changeLanguage, setDefaultNamespace } from "i18next";
import MainPage from "../layouts/MainPage.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { slideCustom } from "../scripts/transitions";

changeLanguage("en");
setDefaultNamespace("home");


const projects = await getCollection("project");
projects.sort((a, b) => b.data.relevance - a.data.relevance);
---

<MainPage>
    <section class="projects">
        {projects.map((project) => (
            <a class="project-card" href={`/project/${project.slug}`}>
                <div class="project-cover-wrap">
                    <Image src={project.data.cover} alt={project.data.title} class="project-cover" transition:name={`${project.slug} cover`} />
                </div>
                <h2 class="project-title" transition:name={`${project.slug} title`}>{project.data.title}</h2>
                <p class="project-text" transition:animate={slideCustom(500)}>
                    {project.data.description}
                </p>
            </a>
        ))}
    </section>
</MainPage>

<script>
    import '../scripts/home';
</script>

<style>
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(40rem, 90vw), 1fr));
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100vw;
        padding: 8rem 0;
    }
	h2 {
        margin: 1rem .5rem;
        font-size: 3rem;
        font-weight: 400;
        font-family: "Roxie Rossa", serif;
        border: solid var(--line-width) var(--text-color);
        border-right: none;
        border-left: none;
        width: fit-content;
        padding: .25rem 1rem;
    }

    .project-card {
        width: min(90%, 40rem);
        margin: auto;
        color: var(--text-color);
        text-decoration: none;
    }

    .project-text {
        font-size: 1.2rem;
        line-height: 1.5;
        border: solid var(--line-width) var(--text-color);
        border-top: none;
        border-bottom: none;
        padding: 1rem;
        width: min(90%, 30rem);
        margin: 1rem auto;
    }

    .project-cover-wrap {
        width: max(min(30rem, 90vw), 100%);
        height: min(30rem, 90vw);
    }
    .project-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20% 20%;
    }
</style>
